<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li [routerLink]="['/admin/teacher']" nz-menu-item>
          <span nz-icon nzType="team" nzTheme="outline"></span>
          <span>Teachers</span>
        </li>
        <li [routerLink]="['/admin/groups']" nz-menu-item>
          <span nz-icon nzType="ungroup" nzTheme="outline"></span>
          <span>Guruhlarim</span>
        </li>
        <li [routerLink]="['/admin/profile']" nz-menu-item>
          <span nz-icon nzType="user" nzTheme="outline"></span>
          <span>Profile</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
          <!--Content-->
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>