<form class="container my-5" style="height: 60vh;">
    <div class="mb-3">
      <label for="fullname" class="form-label">Fullname</label>
      <input type="text" class="form-control" id="fullname">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email">
      </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <label>Have you got an account? <span [routerLink]="['/login']" style="color: blue;">Login</span></label>
  </form>